body, html {
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 20px 0px;
}

img {
    display: inline-block;
    width: auto;
    max-height: 1080px;
}

.information {
    display: inline-block;
    max-width: 620px;
    height: 100%;
    margin-left: 20px;
}

.information-heading {
    font-size: 72px;
    font-weight: bold;
    margin-top: 15px;
    margin-bottom: 25px;
    color: #1B1B1B;
}

.information-description {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.4em;
    color: #292929;
}

.information-work {
    display: flex;
    flex-direction: column;
}

.information-subheading {
    font-size: 16px;
    font-weight: bold;
    color: #171717;
    margin-top: 25px;
    margin-bottom: 15px;
}

.information-link {
    margin: 5px;
}

.information-social {
    margin-top: 100px;
}

/* Media Queries */
@media(max-width: 1920px) {
    img {
        max-height: calc(100vh - 40px);
    }
}

@media(max-width: 1400px) {
    main {
        padding: 20px;
    }

    .information {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        height: calc(100vh - 40px);
    }

    .information-social {
        margin-top: 0px;
    }
}

@media(max-width: 1000px) {
    body, html {
        width: auto;
        height: auto;
    }

    main {
        margin: 50px 100px;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        padding: 0px;
    }

    img {
        display: block;
        width: 80%;
        height: auto;
        max-height: 100%;
    }

    .information {
        display: block;
        max-width: 80%;
        margin-left: 0px;
        margin-top: 25px;
    }
}

@media(max-width: 780px) {
    main {
        margin: 50px;
    }

    img {
        width: 90%;
    }

    .information {
        max-width: 90%;
    }
}

@media(max-width: 580px) {
    main {
        margin: 20px;
    }

    img {
        width: 100%;
    }

    .information {
        max-width: 100%;
    }
}

@media(max-width: 480px) {
    .information-heading {
        font-size: 46px;
    }
}